<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="false">
    <php>
        <var name="EMAIL" value="dummy@naturalint.com"/>
        <var name="PASSWORD" value="dummy"/>
        <var name="ENV" value="staging"/>
        <var name="PREVIEW_MODE" value="false"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>src/*/*/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>

        </whitelist>
    </filter>

</phpunit>
